<div class="row justify-content-center">
  <div class="col-md-8 text-center">
      <!-- <h1 class="mt-5">{{title}}</h1> -->
      <p class="lead">This step uses the <a href="https://auth0.com/docs/flows/concepts/auth-code-pkce" target="_blank">Authorization Code Flow with Proof Key for Code Exchange (PKCE)</a> and redirects to the Identity Provider to perform the authentication step.</p>
      <!-- <img src="assets/images/open-identity.png" width="175" class="mb-4" /> -->
      <p>
          <button class="btn btn-lg btn-primary" (click)="login()">Login with LogCorner Identity Provider</button>
      </p>     
    </div>
</div>
