<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h1 class="mt-5">unauthorized</h1>
        <p class="alert alert-danger" role="alert">I'm sorry but you have tried to access data or operations that you are not authorized for.</p>
        <!-- <img src="assets/images/open-identity.png" width="175" class="mb-4" /> -->
        <p>
            <button class="btn btn-lg btn-primary" (click)="logout()">Log out and log back in with another account</button>
        </p>     
      </div>
  </div>
  
